.cards-hdg-container {
    justify-content: center;
    overflow: hidden;
    padding: 10%;
    /* background-color: rgba(88, 83, 126, 0.6); */
    background-color: rgba(0,0,0,0.6);
}

.cards-container {
    justify-content: center;
    display: grid;  
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    grid-template-columns: 100%;
    gap: 2rem;
    /* align-items: flex-start; */
    list-style: none;
}



